body
{
	margin: 0;
	padding: 0;
}


/* Our Logo */ 
.navbar-brand
{
	border: 5px solid white;
	color: white;
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
}

.nav-link
{
	font-weight: bold;
	font-size: 20px;
}
.nav-link:hover
{
	background-color: #0a043c;
}

/*Bear Image*/
#card-title
{
	width: 400px;
	padding: 0;
	margin-left: 130px;
	margin-top: 0;
	border-radius: 50%;
}

/*Home Container*/
.home
{
	background-color: #c0e218;
	height: 50%;
	width: 100%;
	padding-bottom: 10%;
	margin: 0;
}



/*TagLine */
#Company
{
	color: white;
	text-align: center;
	line-height: 1.5;
	margin-left: -130px;
	margin-top: 30px;
	font-size: 50px;
}

/*Row Grid*/
.title
{
	padding: 7% 15%;
}

span
{
	padding-left: 3px;
}

img
{
	width: 300px;
}

.products
{
	padding: 7% 15%;
}

.card-body li
{
	text-align: center;
	list-style: none;
	font-size: 20px;
	background-color: #d9dab0;
	font-weight: bold;

}

h4
{
	text-align: center;
}

.card a
{
	text-align: center;
	margin-left: 150px;
}

.card
{
	padding-left: 100px;
	padding-right: 100px;
}

/*Contact Me*/

.Contact
{
	padding: 7% 15%;
	background-color: #c0e218;
	height: 40%;
	width: 100%;
	margin: 0;
}

.Contact img
{
	width: 250px;
	text-align: center;
	margin-left: 410px;
	padding: 20px;
	border-radius: 50%;
}

.Founder
{
	margin-top: -60px;
	text-align: center;
	background-color: inherit;
	color: white;
}

h6
{
	text-align: center;
}


h4
{
	background-color: inherit;
	font-weight: bold;
}

.Contact li
{
	list-style: none;
	display: inline;
}

.Contact-Icons
{
	padding: 5px;
	margin-left: 450px;
	margin-bottom: 40px;
}

.icon
{
	padding: 10px;
}

.icon a
{
	color: white;
}

/*Horizontal Rule*/
.hr
{
	width: 20%;
	border-top: 10px dotted #f1f864;
	border-bottom:0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
		#card-title{
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: 50%;
		}
		#Company
		{
			margin-left: auto;
			margin-right: auto;
			font-size: 35px;
		}
		.Contact img
		{
			width: 50%;
			margin-left: 90px;
			margin-right: auto;
		}
		.Contact h4
		{
			margin-left: 15px;
		}
		.Contact-Icons
		{
			width: 70%;
			margin-left: 90px;
			margin-right: auto;
		}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}
